* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Happy Monkey", system-ui;
    background-image: url("/projects/project1/images/window-bg.jpg");
    background-size: cover;
    display: block;
    width: 400px;
    margin: 140px auto;
    
}
.card{
    height: 400px;
    width: inherit;
    border: 2px solid #fdf0d5;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px #dc2f02;
}

#title {
    margin: 20px 0px;
    color: #fdf0d5;
    text-shadow: 1px 3px 8px #9d0208;
    font-weight: bolder;
    font-size: 40px;
}

#hero {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#count-display {
    margin: 40px 0px 30px;
    color: #e85d04;
    text-shadow: 1px 1px 3px #2b2d42;
    font-size: 40px;
}

#count-btn {
    font-size: large;
    font-weight: bold;
    margin: 50px 0px 50px 0px;
    padding: 10px 20px;
    color: #dc2f02;
    background: #03071e;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    text-align: center;;
}
#count-btn:hover {
    background: #f2f1f1;
    color: #9d0208;
    box-shadow: 0px 0px 10px #9d0208;
}