* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    font-family: "Lato", sans-serif;
    background-color: #ffcf67;
    color: #000814;
}

header {
    width:fit-content;
    height: auto;
    background-color: black;
    color: #ffcf67;
    margin-left: 60px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #3f2f01;
}

#main-title {
    color: #f7f7f7;
    text-align: left;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 0px 0px 5px #3f2f01;
    padding: 10px 20px;

}

#hero {
    height: 350px;
    background-color: black;
    color: #ffcf67;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 150px 50px 60px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #3f2f01;
    padding-left: 60px;
    padding-right: 40px;
}

#generate-title {
    font-size: 40px;
    color: #f7f7f7;
    padding-top: 50px;
}

#para {
    font-weight: 300;
    font-style: italic;
    margin-top: 6px;
}

.btn-dsp {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    /* border: 1px solid #efede9; */
}

#gen-btn {
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    color: #000814;
    background-color: #ffcf67;
    padding: 10px 30px;
    margin-right: 60px;
    border: none;
    border-radius: 30px;
}

#dsp {
    cursor: text;
    letter-spacing: 2px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 15px;
    border: none;
    border-radius: 30px;
}

#gen-btn:hover {
    cursor: pointer;
    background-color: #ffd97d;
    box-shadow: 0px 0px 10px #3f2f01;
}